<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>



  <p>
    Splurty was built by <a target="Beth Munger" href="https://bether.netlify.com">Beth</a>.  A developer on a mission to live her best life.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg' , class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Beth Munger</h2>
      <br />
      <p>
        Beth is a project manager and developer with a background in quality assurance, project management and business analysis in both the private and public sectors.  She's traveled to 26 countries and hopes to use her technical skills to continue her travels while working remotely.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
